{% extends 'form.html'%}

{% block content%}
<div class="container">
        <h1>Registro</h1>
        <form class="formulario"  id=form-registro action="#" method="post">
            <div>
                <label for="nombre">Nombre*</label><br>
                <input class="grupo-input" type="text" id="nombre" name="nombre" placeholder="Escribe tu nombre" required>
                <span class="error" id="error-nombre">Debe ingresar un nombre (mínimo 3 caracteres).</span>
            </div>
            <br>
            <div>
                <label for="correo">Correo Electrónico*</label><br>
                <input class="grupo-input" type="email" id="correo" name="correo" placeholder="ejemplo@email.com" required>
                <span class="error" id="error-correo">Ingrese un Correo Electrónico con formato válido</span>
            </div>
            <br>
            <div>
                <label for="telefono">Teléfono*</label><br>
                <input class="grupo-input" type="number" id="telefono" name="telefono" placeholder="+56XXXXXXXXX" required>
                <span class="error" id="error-telefono">Ingrese un número de Teléfono con formato válido</span>
            </div>
            <br>
            <div>
                <label>Dirección Postal*</label><br>
            </div>
            <br>
            <div>
                <label for="region">Región*</label><br>
                <select id="region" name="region">
                <option value="">Seleccione</option>
                </select>
                <span class="error" id="error-region">Debe Seleccionar una Región</span>    
            </div>
            <br>
            <div>
                <label for="comuna">Comuna*</label><br>
                <select  id="comuna" name="comuna">
                <option value="">Seleccione</option>
                </select>
                <span class="error" id="error-comuna">Debe Seleccionar una Comuna</span>
            </div>
            <br>
            <button class="botones" type="submit">Finalizar Registro</button>
        </form>
    </div>
<script src={{url_for('static',filename='js/registro.js')}}></script>    
{%endblock%}