<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Nuevo Registro | UOC</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/form.css')}}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container-inicio">
    <a class="inicio" href="{{url_for('index')}}">Volver al Inicio </a>
    </div>
   {%block content%}
   {%endblock%}
</body>
</html>