body{
    display: block;
    margin: 0;
    background-color: #faf9f6 ;
}
.container-body{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.navbar{
    width: 100%;
    display: flex;
    flex-flow: row;
    padding-top: 15px;
    padding-bottom: 24px;
    padding-left: 30px;
    justify-content: space-between;
    align-content: center;
    font-family: "cantarell";
    color:white;
    background-color: #265f29;
}
.navbar-page{
    position: relative;
    display: flexbox;
    color:white;
    margin-right: 40px;
    text-decoration: none;
    font-size: 14px;
}

.navbar-page::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: -3px;
    height: 1px;
    background:white;
    left: 0;
    bottom: 0;
    transform: scale(0, 1);
    transform-origin: center;
    transition: transform 0.35s ease;
}

.navbar-page:hover::after {
    transform: scale(1, 1);
}

.grupo-derecho{
    align-self: center;
    justify-self: flex-end;
    margin-right: 10px;
}
.grupo-medio{
    justify-self: center;
    align-self: center;
}

.titulo{
    font-size: 20.2px;
    justify-self: flex-start;
    align-self: center;
}
.container-maincontent{
    background-color:black;
    width: 99%;
    margin-top: 0.6%;
    height: 800px;
    align-self: center;
    border-radius: 20px;
}

